*.aux
*.out
*.bbl
*.blg
*.log
*.toc
*.nav
*.snm
*.thm
*.fls
*.bcf
*.run.xml
*.fdb_latexmk
*.pdfsync
*.synctex.gz
*-eps-converted-to.pdf
thesis.pdf
report.pdf
paper.pdf
poster.pdf
talk.pdf
.DS_Store
.exrc
